*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: gray;
	


  
}
.front-bg{
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	height: 97vh;

}
a{
	color: #FFFFFF ;
	text-decoration: none ; 


}
a:hover {
    color:#FFFFFF; 
    text-decoration:none ; 
    cursor:pointer;  
}

.text-color{
	background-color: #494737;
}
.bg-color{
	background-color: #DEDFEB;
	
}
#project-bg-color{
	background-color: #F7F8FF;
}
.project-pic{
	width: 18rem;
}
}
.contact-me{
	background-color: #7B8FA1;
}

