*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
#bg-image{
	background-image: url(images/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 78vh;
}

.front-bg{
	height: 89vh;
	background-color: rgba(0, 0, 0, 0.5);
}
.text-color{
	background-color: #494737;
}
.bg-color{
	
}

